.article__form {
  margin-top: 20px;
  display: flex;
}

.article__input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

.submit__btn:disabled {
  opacity: 0.6;
}

.submit__btn:enabled {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
