<form
  class="article__form"
  [formGroup]="inputForm"
  (ngSubmit)="onSubmit(inputForm.value)"
>
  <input
    class="article__input"
    type="text"
    formControlName="article"
    id="article"
    placeholder="add article"
    maxlength="15"
  />
  <button class="btn submit__btn" type="submit" [disabled]="!inputForm.valid">
    Submit
  </button>
  <app-loading [loading]="loading"></app-loading>
</form>
