<div class="article">
  <div class="article__header">Articles</div>
  <app-add-article
    [loading]="loading"
    (createArticle)="createArticle($event)"
  ></app-add-article>
  <div class="article__list__item">
    <app-article-list-item
      class="article__list"
      *ngFor="let article of articles; let i = index"
      [article]="article"
      [index]="i"
      (deleteArticle)="deleteArticle($event)"
      [deleteModal]="deleteModal"
    ></app-article-list-item>
  </div>
</div>
