<div *ngIf="deleteModal" class="modal__bg">
  <div class="modal">
    <div class="modal__title">Delete article?</div>
    <div class="modal__buttons">
      <button class="btn" (click)="closeModal()">Cancel</button>
      <button class="btn modal__deleteButton" (click)="submitModal()">
        Delete
      </button>
    </div>
  </div>
</div>
