.modal__bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(45, 45, 45, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 180px;
  padding: 25px;
  background: white;
  box-shadow: 0px 5px 15px #4e4e4e;
  border-radius: 4px;
}

.modal__title {
  font-size: 24px;
  padding-bottom: 10px;
}

.modal__buttons {
  display: flex;
  justify-content: flex-end;
}

.modal__deleteButton {
  background: #fd5750;
  outline: 0;
  color: white;
  margin-left: 10px;
  font-weight: 500;
}
