<div
  class="article__list__item"
  [ngStyle]="{ background: colorArray[index % 9] }"
>
  <!-- <button class="article__button" (click)="onDelete(article)">x</button> -->
  <button class="article__button" (click)="toggleDeleteModal()">
    x
  </button>
  <form
    class="article__item__form"
    [formGroup]="updateForm"
    (ngSubmit)="onSubmit(updateForm.value)"
    (click)="toggleForm()"
  >
    <input
      class="article__item__input"
      type="text"
      formControlName="article"
      maxlength="15"
    />
  </form>
  <app-loading [loading]="updateLoading"></app-loading>
  <app-delete-modal
    (toggleDeleteModal)="toggleDeleteModal()"
    [deleteModal]="deleteModal"
    (onDelete)="onDelete()"
  ></app-delete-modal>
</div>
