.article__list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 245px;
  height: 120px;
  padding: 10px;
  margin: 40px 40px 10px 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid #e7eaf3;
  border-radius: 8px;
}

.article__item__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article__button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-left: auto;
  padding-left: 2px;
  padding-right: 2px;
}

.article__item__input {
  font-size: 20px;
  border-width: 0;
  outline: none;
  background: transparent;
}

.article__item__input:hover {
  border: 1px none white;
  border-bottom-style: solid;
}
